body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.menu {
    display: none;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

.home-text {
    max-width: 50%;
}

.text-h1 {
    font-size: 2.5em;
}

.home-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #730202;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
}

.product-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product img {
    max-width: 30%;
    height: auto;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000;
}

.product h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #000;
}

.product-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adicione esta linha */
    gap: 10px;
    padding: 10px;
}

.product {
    flex-basis: calc(50% - 10px); /* Adicione esta linha */
    /* Outros estilos do produto */
}


.price {
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}

.add-to-cart {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #730202;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #940303;
}

.add-to-cart:active {
    background-color: #940303;
}

/* Estilos para quando o mouse estiver sobre o botão */
.add-to-cart:hover {
    background-color: #940303;
}
    

.contact {
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    color: #fff;
}

.contact h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact input, .contact textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #218838;
}

.social-media {
    margin-top: 20px;
    text-align: center;
}

.social-media h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}

.social-icon:hover {
    color: #730202;
}

.cart {
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    color: #fff;
}

.cart h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#cart-items {
    margin-bottom: 10px;
}

#total-price {
    font-size: 1.2em;
    font-weight: bold;
}

#checkout {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkout:hover {
    background-color: #218838;
}
